*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Titillium Web', san-serif;
	color:#777777;
	line-height:26px;
	background-color: rgb(230, 230, 230);
}
/* NAVBAR */
.navbar{
	background-color: #333;
	position: sticky;
	margin-bottom: 20px;
}

.links {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}

.links h1 {
	color: #f4f4f4;
	
}
.links ul {
	display: flex;
	width: 500px;
	justify-content: space-evenly;

}

.links ul li {
	list-style: none;
	padding: 10px 20px;
	margin: 10px 0;
}

.links ul li a {
	text-decoration: none;
	color: #f4f4f4;
	font-size: 20px;
	} 

.links ul li:hover {
	background-color: coral;
}

.links ul .active {
	background-color:  coral;
}
.links ul .active:hover {
	background-color:  rgb(250, 97, 41);

}

.half-width{
	width: 50%;
	float: left;
	line-height: 40px;
}
.side-img{
	width: 50%;
	padding-left: 25%;
}
.primary-btn{
	color: white;
	background-color:skyblue;
	padding:7px 42px 7px 42px;
	border-radius: 20%;
	text-decoration: none;
}
h1{
	font-size:2.5em;
}
.container{
	padding-left:5%;
	display: inline-block;
}

.experiences{
	padding: 30px;
	margin: 30px;
	background-color: rgb(238,251,255);
	border-radius: 20px;
}
.experience-item{
	padding: 10px;
	border-left: 1px solid rgba(137, 130, 247,.2);
}
footer{
	text-align: center;
}
